@import '../node_modules/bootstrap/scss/functions';
@import './helpers/variable';
@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Segoe UI',"Microsoft JhengHei", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-contain {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-cart {
    &:hover, &:focus, &.active {
        color: #507758;
    }
}

.banner {
    height: 360px;
    
}
@media (min-width: 992px) {
    .banner {
        height: 500px;
    }
}
.category {
    margin-top: -100px;
}

.category-wrap {
    height: 256px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    writing-mode: vertical-lr;
    text-decoration: none;
    overflow: hidden;
    z-index: 2;
    .category-image {
        position: absolute;
        filter: blur(5px);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -2;
        transition: filter .5s;
    }
    .category-cover {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(63, 93, 69, .8);
        z-index: -1;
        transition: background-color .5s;
    }
    .category-text {
        font-size: 24px;
        letter-spacing: 0px;
        transition: color .5s;
    }
    &:hover, &.active {
        text-decoration: none;
        .category-image {
            filter: blur(0);
        }
        .category-cover {
            background-color: rgba(255, 225, 128, .8);
        }
        .category-text {
            color: #3F5D45;
            
        }
    }
}

@media (min-width: 992px) {
    .reason-image-wrap{
        margin-top: -20px;
        margin-bottom: -20px;
    }
}

.reason-image{
    min-height: 250px;
}
.reason-content {
    max-height: 420px;
}
.reason-title {
    margin-top: -20px;
    margin-bottom: -20px;
}
@media (min-width: 992px) {
    .reason-text {
        writing-mode: vertical-rl;
        line-height: 2;
    }
}

.card-image-wrap {
    position: relative;
    height: 315px;
    .card-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .card-image-tag {
        width: 40px;
        height: 106px;
        background: #3F5D45;
        position: absolute;
        top: 0;
        left: 20px;
        writing-mode: vertical-rl;
        padding: 21px 8px 21px 8px;
    }
    .card-image-favorite {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 19px;
        right: 22px;
    }
}
.item-name, .item-price {
    border-left: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
    font-size: 20px;
}

.addcart {
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
}

.subscription-title {
    font-size: 24px;
}

.subscription-input-wrap {
    position: relative;
    .subscription-label {
        position: absolute;
        top: 10px;
        left: 20px;
        z-index: 999;
        font-size: 24px;
    }
    .subscription-input {
        padding-left: 64px;
        height: 56px;
        border-radius: 0px;
        border: none;
        &:focus {
            border: none !important;
        }
    }
    .subscription-button {
        width: 64px;
    }
}

.footer-button .btn {
    &:hover, &:focus, &.active {
        color: #507758;
    }
}

@media (min-width: 992px) {
    .copyright {
        text-align: right;
    }
}


// Product

.dessert-category {
    font-size: 24px;
    li {
        margin-left: -15px;
        margin-right: -15px;
        .dessert-category-item {
            &.active, &:hover,&:focus {
                background-color: #EAF0ED !important;
            }
        }
    }
    
}

.pagination-text {
    font-size: 20px;
    padding: 16px 26px;
}

// Login

.social-button {
    margin-left: -15px;
    margin-right: -15px;
    a{
        height: 56px;
        width: 105px;
        background-color: #fff;
    }
}

.social-lg-button {
    height: 56px;
    width: 330px;
    background-color: #fff;
    &:hover {
        background-color: #d2d6d4;
        border: 1px solid #aaa
    }
}

@media (min-width: 992px) {
    .login-content {
        margin-top: -15px;
        margin-bottom: -15px;
    }
}


.login-form-wrap {
    position: relative;
    label {
        position: absolute;
        top: 15px;
        left: 19px;
        z-index: 999;
    }
    input {
        height: 56px;
        &::-webkit-input-placeholder {
            color: #8DA291
        }
    }
}

.remember-checkbox {
    input {
        height: 16px;
        width: 16px;
    }
}

.login-button {
    margin-left: -15px;
    margin-right: -15px;
    font-size: 24px;
    font-weight: 900;
    &:hover, &:focus {
        text-decoration: none;
    }
}

.connect-account {
    span {
        position: relative;
        background-color: #EAF0ED;
        padding: 0 10px 0 10px;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            top: 21px;
            left: -20%;
            height: 2px;
            width: 140%;
            z-index: -1;
            background-color: #8DA291;
        }
    }
    
}

// Cart

.cart {
    font-weight: 300;
    .cart-title {
        font-size: 20px;
    }
    .cart-price {
        font-size: 16px;
    }
}

.total-price {
    font-weight: 600;
    font-size: 20px;
}

.cart-input-group {
    width: auto;
    .input-group-prepend, .input-group-append{
        width: 48px;
        height: 48px;
    }
    button{
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-control {
        padding: 15px;
        width: 48px;
        height: 48px;
        flex-grow: unset;
        text-align: center;
    }
}

.remove-cart {
    &:hover {
        color: #abb3af !important
    }
}

.summary {
    margin-right: 15px;
    margin-left: 15px;
}

.summary-lg {
    .summary-title {
        border-bottom: 1px solid white;
    }
}
.checkout-button {
    width: 100%;
    border-radius: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #3F5D45;
}
// checkout
.step {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    &::after {
        content: '';
        background-color: #EAF0ED;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 50%;
        z-index: 1;
    }
    .step-circle {
        position: relative;
        height: 18px;
        width: 18px;
        background-color: #3F5D45;
        border-radius: 50%;
        border: 1px solid #EAF0ED;
        z-index: 2;
        &.active::after {
            content: '';
            position: absolute;
            height: 12px;
            width: 12px;
            background-color: #EAF0ED;
            border-radius: 50%;
            top: 2px;
            left: 2px;
        }
        &.completed {
            font-size: 1rem;
            background-color: #EAF0ED;
            color: #3F5D45;
        }
    }
}

.deliver, .pay, .receipt {
    color: #EAF0ED;
    font-size: 20px;
    font-weight: 600;
    input, select {
        height: 56px;
        border-radius: 0;
        border: none;
        background-color: #EAF0ED;
    }
}

.next-step {
    height: 65px;
    font-size: 24px;
    font-weight: 600;
}

.receipt {
    .btn{
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 600;
        border-radius: 0px;
    }
    #sameasaddress {
        height: 16px;
        width: 16px;
        border: none;
    }
}

// success
.success {
    position: relative;
    .pay-success {
        position: absolute;
        top: 25%;
        left: 25%;
        .step {
            &::after {
                content: '';
                background-color: #3F5D45;
            }
            .step-circle {
                border: none;
                background-color: #3F5D45;
            }
        }
    }
}


